.wrappr
  .left
    .nickname
      .user-content
        %p.user-content__name name
        %ul.menu
          %li.user-content__pencil new
          %li.user-content__setting 歯車
    .groups
      .group
        %p.group__group-name 林田真尋たん天使♡
        %p.group__group-message この世に舞い降りた天使！！
      .group
        %p.group__group-name 林田真尋たん天使♡
        %p.group__group-message この世に舞い降りた天使！！
      .group
        %p.group__group-name 林田真尋たん天使♡
        %p.group__group-message この世に舞い降りた天使！！
  .right
    .header
      .left-header
        %p.left-header__title
        %ul.member
          %li.member__list
          %li.member__list
          %li.member__list
      .edit
    .messages
      .message
        .upper-message
          %p.upper-message__user-name
          %p.upper-message__date
          %p.upper-message__content
          %img.upper-message__image
    .footer
      %form
        .message-form
          %input.message-form__message-content{type: "text_field"}
          %label
            %input.message-form__icon{type: "file"}
            %i ssss
          %input.message-form__button{type: "submit"}
